.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: #EFDDFD;
}

.background-second {
 background-color: #700CBC;
}

.text-first {
  color: #36065B;
}

.text-second {
  color: #A33AF2;
}

.header {
  height: 23px;
  background-color: #36065B;
  font-size: smaller;
}

.header-element {
  color: black;
  text-decoration: none;
}

.header-element:hover {
  color: black;
  text-decoration: none;
}

.nav-element {
  color: black;
  text-decoration: none;
}

.nav-element:hover {
  color: black;
  text-decoration: underline;
}